{% extends "base.html" %}
{% csrf_token %}

{% block content %} 

<h1>Lixeira</h1>
    
<ul>
    
    {% for image in images %}
        <li>
            {{ image.titulo }}: <br>
            <img src="{{ image.imagem.url }}" alt="{{ image.titulo }}" width="100" height="100">
            <form method="post" action="{% url 'lixeira' %}">
                {% csrf_token %}
                <input type="hidden" name="image_id" value="{{ image.id }}">
                <button type="submit">Restaurar</button>
            </form>
        </li>
    {% empty %}
        <p>Nenhuma imagem disponível.</p>
    {% endfor %}
</ul>
{% endblock %}

{% comment %} <html>

<body>
    
</body>
</html>  {% endcomment %}
